<nav class="navbar border-base-300 bg-base-100 border-b px-4 md:px-4">
  <!-- Mobile Menu -->
  <div class="navbar-start md:hidden">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </div>

      <ul
        tabindex="0"
        class="menu dropdown-content bg-base-100 rounded-box z-50 mt-3 w-72 p-2 shadow"
      >
        <!-- Navegación -->
        <li class="py-1"><a routerLink="/">Inicio</a></li>
        <li class="py-1"><a href="#features">Características</a></li>
        <li class="py-1"><a href="#about">Acerca de</a></li>

        <li class="py-1"><hr /></li>

        @if (authService.authStatus() === 'not-authenticated') {
          <li>
            <a [routerLink]="['/auth/login']" class="text-primary"> Acceder </a>
          </li>
        } @else if (authService.authStatus() === 'authenticated') {
          <li class="flex items-center gap-3 py-2">
            <div class="flex items-center gap-3 py-2">
              <div class="avatar placeholder">
                <div
                  class="bg-primary text-primary-content flex w-11 items-center justify-center rounded-full"
                >
                  <span class="text-sm leading-none font-semibold">
                    {{ initials() }}
                  </span>
                </div>
              </div>

              <div class="leading-tight">
                <p class="font-semibold">
                  {{ user()?.fullName }}
                </p>
                <p class="text-sm opacity-60">
                  {{ user()?.email }}
                </p>
              </div>
            </div>
          </li>

          <li class="py-1"><a routerLink="/profile">Mi perfil</a></li>
          <li class="py-1"><a routerLink="/tickets">Mis tickets</a></li>
          <li class="py-1"><a routerLink="/settings">Configuración</a></li>

          <li class="py-1"><hr /></li>

          <li>
            <a (click)="authService.logout()" class="text-error pb-2"> Cerrar sesión </a>
          </li>
        }
      </ul>
    </div>
  </div>

  <!-- Logo -->
  <div class="navbar-start hidden md:flex">
    <a routerLink="/" class="flex items-center gap-2 text-xl font-bold">
      <span class="text-primary">GW</span>
      <span>GestionWorks</span>
    </a>
  </div>

  <!-- Mobile Logo -->
  <div class="navbar-center md:hidden">
    <a routerLink="/" class="flex items-center gap-2 text-lg font-bold">
      <span class="text-primary">GW</span>
    </a>
  </div>

  <!-- Desktop Menu -->
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal gap-2 px-1">
      <li>
        <a routerLink="/">Inicio</a>
      </li>

      <li>
        <a href="#features">Características</a>
      </li>

      <li>
        <a href="#about">Acerca de</a>
      </li>
    </ul>
  </div>

  <!-- Actions -->
  <div class="navbar-end gap-1">
    <!-- Theme Toggle -->
    <button class="btn btn-ghost btn-circle">
      <label class="swap swap-rotate">
        <input type="checkbox" class="theme-controller" value="dracula" />

        <!-- sun icon -->
        <svg
          class="swap-off h-5 w-5 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
          />
        </svg>
        <!-- moon icon -->
        <svg
          class="swap-on h-5 w-5 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
          />
        </svg>
      </label>
    </button>

    <!-- Desktop Auth Buttons -->
    <div class="hidden md:flex">
      @if (authStatus() === 'not-authenticated') {
        <!-- login -->
        <a [routerLink]="['/auth/login']" class="btn btn-ghost text-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="swap-on h-5 w-5 fill-current"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 3h8a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H9m6-9l-4-4m4 4l-4 4m4-4H5"
            />
          </svg>
          Acceder
        </a>
      } @else if (authStatus() === 'authenticated') {
        <div class="dropdown dropdown-end">
          <button tabindex="0" class="btn btn-ghost flex items-center gap-2">
            <div class="avatar placeholder">
              <div class="bg-primary text-primary-content w-6 rounded-full">
                <span>
                  {{ initials() }}
                </span>
              </div>
            </div>
            <span>{{ user()?.fullName }}</span>

            <!-- flecha -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.17l3.71-3.94a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </button>

          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-100 rounded-box z-50 mt-2 w-56 shadow-lg"
          >
            <li><a>Mi perfil</a></li>
            <li><a>Mis tickets</a></li>
            <li><a>Configuración</a></li>

            <li><hr /></li>

            <li><a (click)="authService.logout()" class="text-error"> Cerrar sesión </a></li>
          </ul>
        </div>
      }
    </div>
  </div>
</nav>
